.review--header {
    position: relative;
    overflow: hidden;
}

.review--header>svg {
    position: absolute;
    transform: translate(250px, -20px) rotate(30deg) ;
    animation: slide 4s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform: translate(250px, -25px) rotate(25deg);
    }
    50% {
        transform: translate(255px, -20px) rotate(30deg);
    }
    100% {
        transform: translate(250px, -25px) rotate(25deg);
    }
}

.jump {
    transition: transform .3s;
    animation: jump ease-in-out 4s infinite;
}

.jump:hover {
    animation: paused;
    transform: scale(1.05) translateY(-5px);
}

@keyframes jump {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-2px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}

.category--box {
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.category--box>img {
    transition: transform .3s ease-in-out;
}

.category--box:hover {
    transform: translate(0px, -5px);
}

.category--box:hover>img {
    transform: scale(110%);
}