.review--header {
    position: relative;
    overflow: hidden;
}

.review--header>svg {
    position: absolute;
    transform: translate(250px, -20px) rotate(30deg) ;
    animation: slide 4s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform: translate(250px, -25px) rotate(25deg);
    }
    50% {
        transform: translate(255px, -20px) rotate(30deg);
    }
    100% {
        transform: translate(250px, -25px) rotate(25deg);
    }
}

.jump {
    transition: transform .35s;
    animation: jump ease-in-out 4s infinite;
}

.jump:hover {
    animation: paused;
    transform: scale(1.1);
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }

}